* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(30, 5, 59);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgb(54, 20, 94);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;

}

nav ul li a:hover {
    color: rgb(142, 94, 186);
    font-size: 1.02rem;
}

main hr {
    border: 0;
    height: 1.5px;
    background: #a77db4;
    margin: 40px 80px;
}

.left {
    font-size: 1.5rem;

}

.left a {
    text-decoration: none;
    color: white;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;

}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2.6rem;

}

.leftSection .btn {
    padding: 23px;
}

.leftSection img {
    width: 25px;
    height: 25px;
    padding-right: 30px;
    padding-top: 30px;
}


.rightSection {
    display: flex;


}

.rightSection img {
    width: 100%;
}

.purple {
    color: #8e5eba;
}

#element {
    color: rgb(142, 94, 186);
}

.secondSection {
    max-width: 80vw;
    height: 80vh;
    margin: auto;
}

.secondSection h1 {
    text-align: center;
    padding-bottom: 50px;
    font-size: 30px;
}





.button .btn-text:hover {
    background-color: #653097;
}

.button .btn-text {
    padding: 8px;
    border-radius: 8px;
    border-color: #9a51ee;
    background: #2a0d4c;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

footer {
    background-color: #190d27;

}

.footer {
    display: flex;
    padding: 23px 60px;
    justify-content: space-evenly;

}

.footer ul {
    list-style: none;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer>div {
    width: 223px;
}

.footer-copyright {
    text-align: center;
    color: gray;
    padding: 10px;
}

.project {
    display: flex;
    justify-content: space-between;


}

.project img:hover {
    height: 205px;
    width: 205px;
    border: #9a51ee;
    border-radius: 8px;
    border-style: solid;
    cursor: pointer;


}

.project img {
    padding: 12px 0px;
    height: 200px;
    width: 200px;
    border: #ffffff;
    border-radius: 8px;
}

.project>div {
    text-align: center;
    color: white;

}

.project .text-dec a {
    text-decoration: none;
    color: white;
}

.footer-forth h3 {
    position: relative;
    left: 15px;
}

.footer-forth svg {
    padding: 5px;
}

.footer-forth h3:hover {
    color: rgb(142, 94, 186);

}

.footer-third ul li:hover {
    color: rgb(142, 94, 186);

}

.footer-second ul li:hover {
    color: rgb(142, 94, 186);

}

.footer-first h3:hover {
    color: rgb(142, 94, 186);

}

.contact ul li{
    list-style:none;
    padding-left: 30px;
}
.contact ul a{
    text-decoration:none;
    color: white;
}

.contact h3{
    padding-bottom: 50px;
}

.contact ul a:hover{
    color: purple;
}